In [1]:
import pandas as pd
import numpy as np
from numpy import *
from math import nan

In [2]:
df = pd.read_csv("data/listings.csv")

In [3]:
df.host_is_superhost = df.host_is_superhost.str.replace("f","0")
df.host_is_superhost = df.host_is_superhost.str.replace("t","1")
df.host_identity_verified = df.host_identity_verified.str.replace("f","0")
df.host_identity_verified = df.host_identity_verified.str.replace("t","1")
df.instant_bookable = df.instant_bookable.str.replace("f","0")
df.instant_bookable = df.instant_bookable.str.replace("t","1")
df['amenities_count'] = df.amenities.str.count(',')

In [11]:
df_simple = df[[
    'id',
    'host_is_superhost',
    'host_identity_verified',
    'bedrooms',
    'beds',
    'accommodates',
    'latitude',
    'longitude',
    'number_of_reviews',
    'review_scores_rating',
    'reviews_per_month',
    'amenities_count',
    'host_listings_count',
    'instant_bookable',
    'reviews_per_month',
    'price']]

In [5]:
df_simple = df_simple.fillna(0)

In [9]:
df_simple.to_csv(r'data/simple_data_for_ML.csv')

In [10]:
df_simple

,id,host_is_superhost,host_identity_verified,bedrooms,beds,accommodates,latitude,longitude,number_of_reviews,review_scores_rating,reviews_per_month,amenities_count,host_listings_count,instant_bookable,reviews_per_month,price
0,2818,1,1,1.0,2.0,2,52.36575,4.94142,278,98.0,1.98,25,1.0,1,1.98,$59.00
1,20168,0,1,1.0,1.0,2,52.36424,4.89396,340,89.0,2.63,16,2.0,1,2.63,$236.00
2,25428,1,0,1.0,1.0,3,52.37297,4.88339,5,100.0,0.15,28,2.0,0,0.15,$125.00
3,27886,1,1,1.0,1.0,2,52.38761,4.89188,219,99.0,2.05,23,1.0,1,2.05,$138.00
4,28871,1,1,1.0,1.0,2,52.36719,4.89092,336,97.0,2.72,14,2.0,0,2.72,$75.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18777,45761390,0,1,1.0,2.0,4,52.37642,4.84941,0,0.0,0.00,8,892.0,1,0.00,$137.00
18778,45763935,0,0,2.0,0.0,1,52.39042,4.88204,0,0.0,0.00,10,2.0,0,0.00,$120.00
18779,45776325,0,0,1.0,1.0,2,52.34306,4.89995,0,0.0,0.00,19,3.0,0,0.00,$20.00
18780,45777642,0,0,1.0,0.0,2,52.34885,4.91878,0,0.0,0.00,8,0.0,0,0.00,$33.00
18781,45783000,0,1,1.0,1.0,2,52.35380,4.89740,0,0.0,0.00,25,1.0,1,0.00,$105.00

In [ ]:
df_complex = df[['id',
         'host_is_superhost',
         'host_neighbourhood',
         'neighbourhood',
         'neighbourhood_cleansed',
         'latitude',
         'longitude',
         'property_type',
         'room_type',
         'accommodates',
         'bathrooms_text',
         'bedrooms',
         'beds',
         'amenities',
         'price',
         'number_of_reviews',
         'review_scores_rating',
         'review_scores_location'                   
                     ]]