In [1]:
import pandas as pd
import numpy as np
from numpy import *
from math import nan

In [2]:
df = pd.read_csv("data/listings.csv")
df

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,2.020100e+13,10/11/20,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi<br />...,"Indische Buurt (""Indies Neighborhood"") is a ne...",https://a0.muscache.com/pictures/10272854/8dcc...,3159,https://www.airbnb.com/users/show/3159,...,10.0,9.0,10.0,NaN,t,1,0,1,0,1.98
1,20168,https://www.airbnb.com/rooms/20168,2.020100e+13,10/11/20,Studio with private bathroom in the centre 1,17th century Dutch townhouse in the heart of t...,Located just in between famous central canals....,https://a0.muscache.com/pictures/69979628/fd6a...,59484,https://www.airbnb.com/users/show/59484,...,10.0,10.0,9.0,NaN,t,2,0,2,0,2.63
2,25428,https://www.airbnb.com/rooms/25428,2.020100e+13,10/11/20,Lovely apt in City Centre (w.lift) near Jordaan,Lovely apt in Centre ( lift & fireplace) near ...,NaN,https://a0.muscache.com/pictures/138431/7079a9...,56142,https://www.airbnb.com/users/show/56142,...,10.0,10.0,10.0,NaN,f,1,1,0,0,0.15
3,27886,https://www.airbnb.com/rooms/27886,2.020100e+13,10/10/20,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,"Central, quiet, safe, clean and beautiful.",https://a0.muscache.com/pictures/02c2da9d-660e...,97647,https://www.airbnb.com/users/show/97647,...,10.0,10.0,10.0,NaN,t,1,0,1,0,2.05
4,28871,https://www.airbnb.com/rooms/28871,2.020100e+13,10/10/20,Comfortable double room,<b>The space</b><br />In a monumental house ri...,"Flower market , Leidseplein , Rembrantsplein",https://a0.muscache.com/pictures/160889/362340...,124245,https://www.airbnb.com/users/show/124245,...,10.0,10.0,10.0,NaN,f,2,0,2,0,2.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18777,45761390,https://www.airbnb.com/rooms/45761390,2.020100e+13,10/10/20,Charming 1Room Apartment in Amsterdam,Nice flat in the ground floor in the west area...,NaN,https://a0.muscache.com/pictures/766447f8-1ec7...,310835509,https://www.airbnb.com/users/show/310835509,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
18778,45763935,https://www.airbnb.com/rooms/45763935,2.020100e+13,10/10/20,clean and light apartment nearby the water,Very clean and tidy apartment,NaN,https://a0.muscache.com/pictures/8b4d4ef5-8b9f...,961670,https://www.airbnb.com/users/show/961670,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
18779,45776325,https://www.airbnb.com/rooms/45776325,2.020100e+13,10/13/20,A beautiful spacious room on a central location.,NaN,NaN,https://a0.muscache.com/pictures/4339516f-0f3b...,48168060,https://www.airbnb.com/users/show/48168060,...,NaN,NaN,NaN,NaN,f,2,0,2,0,NaN
18780,45777642,https://www.airbnb.com/rooms/45777642,2.020100e+13,10/13/20,Studio in Amsterdam,Hello!<br />My room is free for 2 weeks Octobe...,NaN,https://a0.muscache.com/pictures/2ef85d3f-9c1e...,75268907,https://www.airbnb.com/users/show/75268907,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
18781,45783000,https://www.airbnb.com/rooms/45783000,2.020100e+13,10/10/20,Spacious and cozy apartment in De Pijp,"Located in the heart of Amsterdam, in a peacef...",NaN,https://a0.muscache.com/pictures/adfb4e2b-2428...,371160113,https://www.airbnb.com/users/show/371160113,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN

In [3]:
df.host_is_superhost = df.host_is_superhost.str.replace("f","0")
df.host_is_superhost = df.host_is_superhost.str.replace("t","1")
df.host_identity_verified = df.host_identity_verified.str.replace("f","0")
df.host_identity_verified = df.host_identity_verified.str.replace("t","1")
df.instant_bookable = df.instant_bookable.str.replace("f","0")
df.instant_bookable = df.instant_bookable.str.replace("t","1")
df['amenities_count'] = df.amenities.str.count(',')

In [4]:
df_simple = df[[
    'id',
    'host_is_superhost',
    'host_identity_verified',
    'bedrooms',
    'beds',
    'accommodates',
    'number_of_reviews',
    'review_scores_rating',
    'reviews_per_month',
    'amenities_count',
    'host_listings_count',
    'instant_bookable',
    'reviews_per_month',
    'price',]]
df_simple

,id,host_is_superhost,host_identity_verified,bedrooms,beds,accommodates,number_of_reviews,review_scores_rating,reviews_per_month,amenities_count,host_listings_count,instant_bookable,reviews_per_month,price
0,2818,1,1,1.0,2.0,2,278,98.0,1.98,25,1.0,1,1.98,$59.00
1,20168,0,1,1.0,1.0,2,340,89.0,2.63,16,2.0,1,2.63,$236.00
2,25428,1,0,1.0,1.0,3,5,100.0,0.15,28,2.0,0,0.15,$125.00
3,27886,1,1,1.0,1.0,2,219,99.0,2.05,23,1.0,1,2.05,$138.00
4,28871,1,1,1.0,1.0,2,336,97.0,2.72,14,2.0,0,2.72,$75.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18777,45761390,0,1,1.0,2.0,4,0,NaN,NaN,8,892.0,1,NaN,$137.00
18778,45763935,0,0,2.0,0.0,1,0,NaN,NaN,10,2.0,0,NaN,$120.00
18779,45776325,0,0,1.0,1.0,2,0,NaN,NaN,19,3.0,0,NaN,$20.00
18780,45777642,0,0,1.0,0.0,2,0,NaN,NaN,8,0.0,0,NaN,$33.00
18781,45783000,0,1,1.0,1.0,2,0,NaN,NaN,25,1.0,1,NaN,$105.00

In [5]:
df_simple = df_simple.fillna(0)

In [6]:
df_complex = df[['id',
         'host_is_superhost',
         'host_neighbourhood',
         'neighbourhood',
         'neighbourhood_cleansed',
         'latitude',
         'longitude',
         'property_type',
         'room_type',
         'accommodates',
         'bathrooms_text',
         'bedrooms',
         'beds',
         'amenities',
         'price',
         'number_of_reviews',
         'review_scores_rating',
         'review_scores_location'                   
                     ]]

In [7]:
#df_amenities = df[0:9,:]
#df_amenities.head()

In [8]:
#for listing in df_amenities[0:9,:]:
#    for amenity in df_amenities.amenities:
#        df_amenities[amenity] = 0
        # df_amenities.iloc[listing,amenity] = 1

In [9]:
df_simple.to_csv(r'data/simple_data_for_ML.csv')

In [10]:
df_simple

,id,host_is_superhost,host_identity_verified,bedrooms,beds,accommodates,number_of_reviews,review_scores_rating,reviews_per_month,amenities_count,host_listings_count,instant_bookable,reviews_per_month,price
0,2818,1,1,1.0,2.0,2,278,98.0,1.98,25,1.0,1,1.98,$59.00
1,20168,0,1,1.0,1.0,2,340,89.0,2.63,16,2.0,1,2.63,$236.00
2,25428,1,0,1.0,1.0,3,5,100.0,0.15,28,2.0,0,0.15,$125.00
3,27886,1,1,1.0,1.0,2,219,99.0,2.05,23,1.0,1,2.05,$138.00
4,28871,1,1,1.0,1.0,2,336,97.0,2.72,14,2.0,0,2.72,$75.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18777,45761390,0,1,1.0,2.0,4,0,0.0,0.00,8,892.0,1,0.00,$137.00
18778,45763935,0,0,2.0,0.0,1,0,0.0,0.00,10,2.0,0,0.00,$120.00
18779,45776325,0,0,1.0,1.0,2,0,0.0,0.00,19,3.0,0,0.00,$20.00
18780,45777642,0,0,1.0,0.0,2,0,0.0,0.00,8,0.0,0,0.00,$33.00
18781,45783000,0,1,1.0,1.0,2,0,0.0,0.00,25,1.0,1,0.00,$105.00