In [1]:
import pandas as pd
import numpy as np
from numpy import *
from math import nan

In [2]:
df = pd.read_csv("data/listings.csv")

In [3]:
df.host_is_superhost = df.host_is_superhost.str.replace("f","0")
df.host_is_superhost = df.host_is_superhost.str.replace("t","1")
df.host_identity_verified = df.host_identity_verified.str.replace("f","0")
df.host_identity_verified = df.host_identity_verified.str.replace("t","1")
df.instant_bookable = df.instant_bookable.str.replace("f","0")
df.instant_bookable = df.instant_bookable.str.replace("t","1")
df['amenities_count'] = df.amenities.str.count(',')

In [4]:
df_simple = df[[
    'host_is_superhost',
    'host_identity_verified',
    'bedrooms',
    'beds',
    'accommodates',
    'number_of_reviews',
    'review_scores_rating',
    'reviews_per_month',
    'amenities_count',
    'host_listings_count',
    'instant_bookable',
    'reviews_per_month',
    'price',]]
df_simple.head()

,host_is_superhost,host_identity_verified,bedrooms,beds,accommodates,number_of_reviews,review_scores_rating,reviews_per_month,amenities_count,host_listings_count,instant_bookable,reviews_per_month,price
0,1,1,1.0,2.0,2,278,98.0,1.98,25,1.0,1,1.98,$59.00
1,0,1,1.0,1.0,2,340,89.0,2.63,16,2.0,1,2.63,$236.00
2,1,0,1.0,1.0,3,5,100.0,0.15,28,2.0,0,0.15,$125.00
3,1,1,1.0,1.0,2,219,99.0,2.05,23,1.0,1,2.05,$138.00
4,1,1,1.0,1.0,2,336,97.0,2.72,14,2.0,0,2.72,$75.00

In [5]:
df_simple = df_simple.fillna(0)

In [6]:
df_complex = df[['id',
         'host_is_superhost',
         'host_neighbourhood',
         'neighbourhood',
         'neighbourhood_cleansed',
         'latitude',
         'longitude',
         'property_type',
         'room_type',
         'accommodates',
         'bathrooms_text',
         'bedrooms',
         'beds',
         'amenities',
         'price',
         'number_of_reviews',
         'review_scores_rating',
         'review_scores_location'                   
                     ]]

In [7]:
#df_amenities = df[0:9,:]
#df_amenities.head()

In [8]:
#for listing in df_amenities[0:9,:]:
#    for amenity in df_amenities.amenities:
#        df_amenities[amenity] = 0
        # df_amenities.iloc[listing,amenity] = 1

In [9]:
df_simple.to_csv(r'data/simple_data_for_ML.csv')